header, footer{
 max-width: 1240px;
 margin-left: auto; margin-right: auto;
 position: relative; /*w3-display-container*/
}
header{
 margin-bottom: 2em;
}
.logo-hamburger{
 padding: .6em 10px;
 background: orange;
 color: white;
 font-size: 1.12em;
 display: table;
 width: 100%;
}
.logo-hamburger div {
 display:table-cell;
 vertical-align: middle;
}
.logo-box{
 overflow-x: hidden; overflow-y: hidden;
}
.logo-box a {
 border: 2px solid;
 border-radius: 6px;
 padding: 3px;
 text-decoration: none;
}
.logo-box a:hover {
 color: orange;
 background-color: white;
}
#sideBAR{
 border: 1px solid #ccc;
 height:100%;width:200px;
 background-color:#fff;
 z-index:1;overflow:auto;
 }
 #closeNav, header nav button, header nav a{
  width:100%;
  text-align:left;
  padding:8px 16px;
 }
 header nav button, header nav a{
 text-decoration: none;
 display: block;
 width: 100%;
 border:none;
 outline-width: 0;
 background-color:inherit;
 cursor:pointer;white-space:nowrap
}
header nav button:hover, header nav a:hover{
 background: rgb(204,204,204);
 color: rgb(0,0,0);
}
#openNav{
 width: 40%;
 padding: 8px;
 float: right;
 margin-left: auto;
}
header nav ul{
  padding-left: 0;
 }
@media (max-width:992px){
 #sideBAR{
 transform: translate(0%,-50%);
 -moz-transform: translate(0%, -50%);
  display: none;
  position:fixed!important;
  position: absolute;
  top: 50%; right: 0%;
 }
 #subj-links{
  cursor: pointer;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
 }
#sideBAR {
  display:none;
 }
 #subj-links{
  display: none;
 }
}


@media (min-width: 993px){
 header{
  background: orange;
  color: white;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 2em 16px;
 }
 header nav a{
  display: inline;
 }
}

@media (min-width:993px){
.logo-box a {
 font-size: 1.5em;
 border: 2px solid;
 border-radius: 6px;
 padding: 3px;
 }
 .logo-hamburger{
  width: auto;
 }
 header nav button{
  display: none;
 }
 #sideBAR{
 border: none;
 height: auto; width: auto;
 background: inherit;
 display:block;
 margin-left: auto;
 }
 header nav div{
  display: inline;
 }
 header nav a{
  margin: 16px;
 }
 header nav a:hover{
   text-decoration: underline;
  color: black;
  outline-width: 0;
  background: none;
 }
 #openNav, #closeNav{
  display: none;
 }
}





/********************************Footer Styles********************************/
footer{
  margin-top: 2em;
 background-color: darkorange;
 color: white;
 padding-left: 3%; padding-right:3%;
}
footer nav ul{
 list-style-type: none;
 padding: 0;
 margin-top: 0;
}
footer nav h3{
 margin-bottom: 0;
 text-decoration: underline;
}
footer a{
 color: white;
}
.footer-info{
 text-align: center;
}
@media screen and (min-width: 1024px){
 footer nav{
  display: flex;
  /* justify-content: space-around; */
 }
}
