@charset "UTF-8";
/*variables*/
:root {
    --default-orange: #F58634;
    --pure-white: #ffffff;
    --grey: #4B4B4D;
    --grey-variant-1: #727376;
    --grey-variant-2: #D2D3D5;
    --grey-variant-3: #f8f8f8;
    --blue: #4176BA;
    --error-bg: #ffc3c3e1;
    --opac-black: #00000022;
}
@font-face {
    font-family: roboto-regular;
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: roboto-bold;
    src: url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: roboto-black;
    src: url("../fonts/roboto/Roboto-Black.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto-regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.2s;
}
html , body {
    overflow-x: hidden;
}
/*font colors*/
.grey-color {
    color: var(--grey);
}
.white-color {
    color: var(--pure-white);
}
.default-orange-color {
    color: var(--default-orange);
}
.grey-1-color {
    color: var(--grey-variant-1);
}
.grey-2-color {
    color: var(--grey-variant-2);
}
.blue-color {
    color: var(--blue);
}
/*background colors*/
.no-bg {
    background: none;
}
.white-bg {
    background: var(--pure-white);
}
.default-orange-bg {
    background: var(--default-orange);
}
.opac-black-bg {
    background: var(--opac-black);
}
.blue-bg {
    background: var(--blue);
}
.white-bg {
    background: var(--pure-white);
}
/*font sizes*/
.smaller-text {
    font-size: x-small;
}
.small-text {
    font-size: small;
}
.normal-text {
    font-size: large;
}
.mini-text {
    font-size: x-large;
}
.large-text {
    font-size: xx-large;
    font-family: roboto-bold;
}
.larger-text {
    font-size: 10vw;
    font-family: roboto-black;
}
/*alignment*/
.centered-text {
    text-align: center;
}
/*displays*/
.flex {
    display: flex;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.none {
    display: none;
}
/*visibility*/
.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}
/*borders*/
.no-border {
    border: none;
}
.orange-border {
    border: 2px solid var(--default-orange);
}
.grey-2-border {
    border: 2px solid var(--grey-variant-2);
}
/*custom*/
header {
    height: 10vh;
    width: 100vw;
    min-height: 60px;
    max-height: 70px;
    padding: 0 3vw;
    justify-content: space-between;
    align-items: center;
}
header a {
    width: max-content;
}
.logo-in-header {
    width: 40vw;
    max-width: 160px;
}
.main-content {
    width: 100vw;
    max-width: 600px;
    margin: auto;
}
.section-text {
    padding: 40px 10px 0 30px;
}
.illustration-cont {
    height: 50vw;
    width: 60vw;
    max-width: 290px;
    max-height: 300px;
    margin: 80px auto;
}
.illustration {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    -o-object-fit: scale-down;
}
a {
    text-decoration: none;
}
.block-link-in-landing-page-main-content-box {
    width: 50vw;
    max-width: 150px;
    min-width: 110px;
    margin: 10vh auto;
    padding: 15px 0;
}
.block-link-in-landing-page-main-content-box:hover {
    border: none;
    border-right: 2px solid;
    border-left: 2px solid;
    background: var(--grey-variant-3);
}
a[href="./signup"]:hover {
    background: var(--pure-white);
    border: 2px solid var(--default-orange);
    color: var(--default-orange);
}
.centered-in-landing-page {
    width: 90%;
    margin: auto;
}
.footer-in-landing-page {
    width: 100%;
    padding: 0 10px 20vh 0;
}
.link-to-social-platform {
    height: auto;
    width: max-content;
    margin: 10px 10px 0 30px;
}
.link-to-social-platform:hover {
    color: var(--grey-variant-2);
    font-size: xx-large;
}
.links-to-available-items-cont , .links-to-help-center {
    width: 95%;
    max-width: 320px;
    margin: 10vh auto;
}
.link-to-available-subject {
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    margin: 15px auto;
}
.links-to-help-center a {
    color: var(--blue);
    margin: 10px;
}
.topic-contents , #author , .form {
    width: 98%;
    margin: 5vh auto;
    padding: 10px;
}
input , select , textarea , .validation-message , .article-content-cont{
    min-width: 200px;
    max-width: 300px;
    margin: 4vh auto;
}
input , select , textarea , .validation-message{
    height: 60px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: var(--pure-white);
}
/*find a fix for autofill styling*/
input:-webkit-autofill , input:autofill {
    background: var(--pure-white) !important;/*I would use javascript later*/
}
input:focus , select:focus , textarea:focus {
    outline: 2px solid #00000022;
}
input::placeholder , textarea::placeholder {
    color: var(--grey-variant-1);
}
input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.section-in-dashboard {
    height: auto;
    flex-flow: column;
    justify-content: space-around;
    box-shadow: 0px 0px 9px 1px #00000011;
    padding: 60px 40px;
}
.link-to-write-article , .section-in-dashboard {
    width: 75%;
    margin: 15vh auto;
    align-items: center;
    border-radius: 10px;
}
.link-to-write-article {
    justify-content: space-between;
    padding: 12px 40px;
}
.side-menu {
    width: 100vw;
    height: calc(100vh - 10vh);
    position: fixed;
    top: 10vh;
    left: 0;
    background: #00000041;
    z-index: 1;
}
.validation-message {
    border-radius: 0;
    background: var(--error-bg);
    height: auto;
}
.validation-message p {
    margin-bottom: 10px;
}
.loader-cont {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.loader-main-cont {
    height: 4px;
    width: 100vw;
}
.loader {
    height: 100%;
    width: 1%;
    transition: width 0.8s;
}
.logout-btn:hover {
    color: var(--default-orange);
}
/*responsiveness*/
@media only screen and (max-width:600px) {
    a {
        cursor: alias;
    }
}